<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 공통빈 설정 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/spring/security-context.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  <!-- 한글처리 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  	<init-param>
  		<!-- 
  		forceEncoding이란 입력한 인코딩으로 
  		HttpServletReauest, httpServletResponse 객체를 강제세팅을 할지 여부이다. 

  		false(기본값) - getCharacterEncoding 메소드 값이 null일때만 setCharacterEncoding으로 인코딩 세팅 
  		true - 기존 인코딩이 잡혀있어도 강제적으로 세팅
  				response객체도 미리 세팅한다.  				
  		 -->
   		<param-name>forceEncoding</param-name>
   		<param-value>true</param-value>
	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



   <!-- 인증 권한 관련 Filter -->
   <filter>
   	<filter-name>springSecurityFilterChain</filter-name>
   	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   </filter>
   <filter-mapping>
   	<filter-name>springSecurityFilterChain</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>

	<!-- spring security event -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

  
  <!-- 에러 페이지 (◆)-->
  	<!-- <error-page>
		<error-code>403</error-code>
		<location>/Error/NoAuthority.jsp</location>
	</error-page>
  	<error-page>
		<error-code>404</error-code>
		<location>/Error/EmptyPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/Error/Error.jsp</location>
	</error-page> -->
	<!-- 개별빈 -->
	<servlet>
		<servlet-name>HacoServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/HacoServlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HacoServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	

</web-app>
